body {
  margin: 0;
  font-size: .5rem;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  /* Code from https://css-tricks.com/snippets/css/a-guide-to-using-rgba-color-values/ */
  background-image: url('https://cdn.britannica.com/80/179480-138-A0F9E136/poisoning-malaria-experts-decline-Roman-Empire.jpg');
  image-rendering: -webkit-optimize-contrast;
  initial-letter-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  
  
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  text-shadow: -2px 0 rgb(241, 217, 0), 0 1px black, 1px 0 rgb(236, 43, 43), 0 -1px rgb(255, 255, 255);
}

.span {
  color: rgb(0, 0, 0);
  text-shadow: -2px 0 rgb(241, 217, 0), 0 1px black, 1px 0 rgb(236, 43, 43), 0 -1px rgb(255, 255, 255);
}









